* { 
  padding:0; 
  margin:0; 
  box-sizing: border-box; 
  font-family: Roboto,Arial,Helvetica,sans-serif;
}

html {
  font-size: 14px;
}

.weather-app {
  display: flex;
}

.city-container-wrap,
.forecast-wrap {
  display: flex;
}

.city-container-wrap {
  padding: 2rem;
  flex: 0 0 40%;
  min-height: 100vh;
}

.forecast-container,
.city-container {
  border: 0.1rem solid #000;
  flex: 1;
}

.forecast-container {
  padding: 2rem;
}

.city-container {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.forecast-wrap {
  padding: 2rem;
  flex: 0 0 60%;
}

.city-selector {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid #000;
}

.city-selector input {
  flex: 1;
  padding: 0.5rem;
  border: 0.1rem solid #000;
  border-width: 0 0 0.1rem;
}

button.fa {
  border: none;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  justify-content: center;
  background: transparent;
}

button.fa:before {
  font-size: 1.8rem;
}

.city-list {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.city-list-clear {
  align-self: flex-end;
  border: none;
  background: #ccc;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.city-list-header {
  border-bottom: 0.1rem solid #000;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
}

.city-wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
}

.city-wrap:hover {
  background: rgba(0,0,0,0.1);
}

.city-wrap.selected {
  background: #4490e4;
}

.city-wrap-label {
  flex: 1 1 0;
}

/* forecast */
.forecast-container {
  position: relative;
}

.forecast-container.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.forecast-refresh {
  position: absolute;
  top:1rem; right: 1rem;
}

button.forecast-refresh:before {
  font-size: 2rem;
}

.forecast-city-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.forecast-current-wrap {
  display: flex;
  margin: 0 0 2rem;
}

.forecast-current-img {
  margin-right: 4rem;
}

.forecast-current-details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.forecast-current-details div {
  margin-bottom: 1rem;
}

.forecast-fiveday {
  display: flex;
}

.forecast-item {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}